@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Merriweather:wght@300&family=Major+Mono+Display&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
    padding: 15px 0px;
}

.navbar button:focus {
    outline: none;
  }
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}

.heading-content{
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 3em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;
}

.blink {
    animation: blinker 1s step-start infinite;
    color: #1ebba3;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.heading-content h1{
    font-size: 4em;
    /* font-weight: bold; */
    color: #fff;
    letter-spacing: 0.2rem;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Major Mono Display', monospace;
}

.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgb(214, 214, 214);
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

#resume-button {
    background-color: #1ebba3;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
}

#resume-button:focus {
    outline-color: none;
    box-shadow: none;
}

#resume-button:hover {
    background-color: #1ebba3a1;
}

.social-links li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}
.social-links i{
    font-size: 2rem;
    color: #000000;
}
.social-links i:hover{
    color: #1ebba3 !important;
}

@media screen and (max-width: 767px) {
    .navbar{
        letter-spacing: 0.1rem;
        padding: 10px 0px;
    }

    .heading-content{
        top: 25%;
    }
    
    .heading-content h5{
        font-size: 3em;
        
    }
    
    .heading-content h1{
        font-size: 3em;
    }
    
    .heading-content p{
        font-size: 0.9em;
    }
}

.icon-box {
    display: flex;
    align-items: center;
    padding: 15px;
    /* background: rgba(255, 255, 255, 0.08); */
    transition: ease-in-out 0.3s;
}

.icon-box h3 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    line-height: 1;
    font-size: 20px;
    color: #111;
}
.icon-box:hover {
    background: #1ebba381;
}

.tech-icon{
    height:30px;
}

.tab-content {
    margin-top: 20px;
}

.nav-tabs .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background:none;
}

.card-text{
    text-align: justify;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.card .btn{
    background-color: #1ebba3;
    color: white;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}
.card .btn:focus {
    outline-color: none;
    box-shadow: none;
}

.card .btn:hover {
    background-color: #1ebba3a1;
}

.contact-social-links li{
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}
.contact-social-links i{
    font-size: 3rem;
    color: #000000;
}
.contact-social-links i:hover{
    color: #1ebba3 !important;
}

@media screen and (max-width: 571px) {
    .heading-content{
        top: 20%;
    }
}
@media screen and (max-width: 479px) {
    .navbar{
        letter-spacing: 0.1rem;
        padding: 7px 0px;
    }

    .heading-content{
        top: 15%;
    }
    
    .heading-content h5{
        font-size: 2em;
        
    }
    
    .heading-content h1{
        font-size: 2em;
    }
    
    .heading-content p{
        font-size: 0.7em;
    }
}

.dark-mode {
    background: #000000;
    color: #fff;
}